## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="archive_nav" file="archive_navigation_helper.tmpl" import="*"/>

<%block name="content">
<div class="post-archive">
    <header>
        <h2>${title|h}</h2>
    </header>
    ${archive_nav.archive_navigation()}
    %if items:
    <ul class="listing">
    % for text, link, count in items:
        <li><a href="${link}"><span>${text|h}</span></a>
        % if count:
            (${count})
        % endif
    % endfor
    </ul>
    %else:
    <p>${messages("Nothing found.")}</p>
    %endif
</div>
</%block>
