NAVIGATION_LINKS = {
    DEFAULT_LANG: (
        ('/index.html', 'Home', 'fa fa-home'),
        ('/archive.html', 'Archives', 'fa fa-folder-open'),
        ('/categories/index.html', 'Tags', 'fa fa-tags'),
        ('/rss.xml', 'RSS', 'fa fa-rss'),
        ('https://getnikola.com', 'About me', 'fa fa-user'),
        ('https://twitter.com/getnikola', 'My Twitter', 'fab fa-twitter'),
        ('https://github.com/getnikola', 'My Github', 'fab fa-github'),
    )
}

DATE_FANCINESS = 2
