## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="extra_head">
    ${math.math_styles_ifposts(posts)}
</%block>
<%block name="content">
    % for post in posts:
        <div class="post hfeed">
            <h2 class="entry-title"><a href="${post.permalink()}">${post.title()}</a></h2>
            <div class="entry-content">
                ${post.text(lang,index_teasers)}
            </div>
            <div class="entry-meta">
                <span class="meta-sep">|</span>
                <span class="entry-date">${messages("Posted:")} <time class="published" datetime="${post.date.isoformat()}">${post.formatted_date(date_format)}</time></span>
                <span class="meta-sep">|</span>
		        % if not post.meta('nocomments'):
    		        ${comments.comment_link(post.permalink(), post.base_path)}
	    	    % endif
            </div>
        </div>
    % endfor
    ${helper.html_pager()}
    ${comments.comment_link_script()}
    ${math.math_scripts_ifposts(posts)}
</%block>
