[submodule "nikola-master"]
	path = nikola-master
	url = git://github.com/ralsina/nikola.git
[submodule "v7/octopress"]
	path = v7/octopress
	url = git@github.com:magmax/nikola-theme-octopress.git
[submodule "v7/srcco.de"]
	path = v7/srcco.de
	url = git@github.com:ralsina/srcco.de.git
[submodule "v7/cadair"]
	path = v7/cadair
	url = git@github.com:Cadair/cadair-nikola-theme.git
[submodule "v7/lotabout"]
	path = v7/lotabout
	url = git@github.com:lotabout/zzz.git
[submodule "v7/bnw"]
	path = v7/bnw
	url = git@github.com:lotabout/nikola-bnw.git
