[submodule "nikola-master"]
	path = nikola-master
	url = git://github.com/ralsina/nikola.git
[submodule "v7/octopress"]
	path = v7/octopress
	url = git@github.com:magmax/nikola-theme-octopress.git
[submodule "v7/srcco.de"]
	path = v7/srcco.de
	url = git@github.com:ralsina/srcco.de.git
