NAVIGATION_LINKS = {
    DEFAULT_LANG: (
        ('/index.html', 'Home', 'fa-home'),
        ('/archive.html', 'Archives', 'fa-folder-open'),
        ('/categories/index.html', 'Tags', 'fa-tags'),
        ('/rss.xml', 'RSS', 'fa-rss'),
        ('https://getnikola.com', 'About me', 'fa-user'),
        ('https://twitter.com/getnikola', 'My Twitter', 'fa-twitter'),
        ('https://github.com/getnikola', 'My Github', 'fa-github'),
    )
}
