#container {
    width: 960px;
    margin: 0 auto;
}

#content {
    width: 730px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-weight: 300;
}

h1 {
    font-weight: 500;
    margin-bottom: 30px;
}

h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

div.postdiv {
    line-height: 1.3;
}

div.postmeta {
    font-size: 90%;
    line-height: 1.3;
    margin-bottom: 20px;
}

ul.bottom > li {
    margin-bottom: 6px;
}

hr {
   width: 75%;
   color: #444;
   margin: 20px auto 20px auto;
   clear: both;
}

div.postdiv > p,
div.postdiv * p,
body
{
   font-size: 16px;
}
