mixin bar(crumbs)
  if crumbs
    nav(class='breadcrumbs')
    ul(class='breadcrumb')
    for link, text in crumbs
      if text != index_file
        if link == '#'
          li
            = text
        else
          li
            a(href=link)
              = text
