extends base
- import 'crumbs.jade' as crumbbar

block content
  != crumbbar.bar(crumbs)
  if folders or files
    ul(class="unstyled")
      for name in folders
        li.a(href=name)
          i(class="icon-folder-open")
          = name
      for name in files
        li.a(href=name)
          i(class="icon-file")
          = name
  if code
    != code
