## -*- coding: utf-8 -*-

<%def name="extra_js()">
<script defer type="text/javascript"
    src="/assets/js/custom.js" >
</script>
</%def>

<%def name="extra_css()">
<link rel="stylesheet" type="text/css"
    href="/assets/css/custom.css?v=${mdl__cachebusting}">
</%def>
