## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>
<%namespace name="annotations" file="annotation_helper.tmpl"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
% if not HACK_VARIANT:
    <body class="hack">
% elif HACK_VARIANT == 'dark':
    <body class="hack dark">
% elif HACK_VARIANT == 'dark-grey':
    <body class="hack dark-grey">
% elif HACK_VARIANT == 'solarized-dark':
    <body class="hack solarized-dark">
% elif HACK_VARIANT == 'standard':
    <body class="hack standard">
% endif

<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>
    <div id="container">
         ${header.html_header()}
         <main id="content">
            <%block name="content"></%block>
         </main>
         ${footer.html_footer()}
    </div>
    ${base.late_load_js()}
    <%block name="extra_js"></%block>
    ${body_end}
    ${template_hooks['body_end']()}
</body>
</html>
