{#  -*- coding: utf-8 -*- #}

{% macro html_reveal_head() %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/assets/reveal/css/reveal.css">
    <!-- If you use another reveal.css, DO NOT forget to delete overflow: hidden from global variables -->
    <link rel="stylesheet" href="/assets/reveal/css/theme/{{ subtheme }}.css" id="theme">
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
    document.write( '<link rel="stylesheet" href="/assets/reveal/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
    <!--[if lt IE 9]>
    <script src="/assets/reveal/lib/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/custom_reveal.css">
{% endmacro %}

{% macro html_reveal_body() %}
    <script src="/assets/reveal/lib/js/head.min.js"></script>
    <script src="/assets/reveal/js/reveal.min.js"></script>
    <script>
    // Full list of configuration options available here: https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
    controls: false,
    progress: false,
    history: false,
    keyboard: false,
    rollingLinks: false,
    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || '{{ transition }}', // default/cube/page/concave/linear/none
    // Optional libraries used to extend on reveal.js
    dependencies: [
    { src: '/assets/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } }
    ]
    });
    </script>
    <script>
    Reveal.addEventListener( 'slidechanged', function( event ) {
    window.scrollTo(0,0);
    MathJax.Hub.Rerender(event.currentSlide);
    });
    </script>
{% endmacro %}