## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:
        <div class="postdiv">
        <a href="${post.permalink(lang)}"><h2>${post.title(lang)}</a></h2>
        ${post.text(lang,index_teasers)}
        <p>
        </div>
        <div class="postmeta">
        <small>&nbsp;§&nbsp;
             ${messages[lang]["Posted"]}: ${post.date}
        </small>
        %if disqus_forum:
            · <a href="${post.permalink(absolute=True)}#disqus_thread">Comments</a>
        %endif
        % for tag in post.tags:
             · ${tag}
        %endfor
        </div>
        <hr>
    % endfor
    <div>
<ul class="pager">
  %if prevlink:
    <li class="previous">
        <a href="${prevlink}">&larr; Newer posts</a>
    </li>
  %endif
  %if nextlink:
    <li class="next">
        <a href="${nextlink}">Older posts &rarr;</a>
    </li>
  %endif
</ul>

    </div>
    <hr>
    %if disqus_forum:
        <script type="text/javascript">
        //<![CDATA[
        (function() {
            var links = document.getElementsByTagName('a');
            var query = '?';
            for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
            }
            document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/${disqus_forum}/get_num_replies.js' + query + '"></' + 'script>');
        })();
        //]]>
        </script>
    %endif
</%block>
