{% extends 'list_post.tmpl' %}

{% block content_header %}
    <div class="title-block post-format-icon-lock">
        <div class="entry-meta">
            <span class="posted-on"> </span>
        </div>
        <h1>{{ title|e }}</h1>
    </div>
{% endblock %}
