{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'arusahni_helper.tmpl' as arusahni with context %}
{{ set_locale(lang) }}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {{ arusahni.html_head() }}
    {% block extra_head %}
    {% endblock %}
    {{ extra_head_data }}
</head>

<body>
    <section class="social">
        <ul>
        {{ arusahni.html_navigation_links() }}
        </ul>
    </section>
    <section class="page-content">
        <div class="content" rel="main">
            {% block content %}{% endblock %}
            {{ content_footer }}
            {{ base.html_social() }}
        </div>
    </section>
    {{ arusahni.late_load_js() }}
    {% block extra_js %}
        <script type="text/javascript">
            $(function(){
                $('.timeago').timeago();
            });
        </script>
    {% endblock %}
    {{ body_end }}
</body>
</html>
