{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'base_header.tmpl' as header with context %}
{% import 'base_footer.tmpl' as footer with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body class="{{ hyde_subtheme }}">
    <a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

    <div class="hsidebar">
        <div class="container sidebar-sticky">
            <div class="sidebar-about">
              <h1>
                <a href="{{ abs_link(_link("root", None, lang)) }}">
                  {{ header.html_site_title() }}
                </a>
              </h1>
            {{ header.html_site_description() }}
            </div>
            {{ header.html_navigation_links() }}
            {{ footer.html_footer() }}
        </div>
    </div>

    <div class="content container" id="content">
       {% block content %}{% endblock %}
    </div>
    {{ base.late_load_js() }}
    {% if date_fanciness != 0 %}
        <!-- fancy dates -->
        <script>
        moment.locale("{{ momentjs_locales[lang] }}");
        fancydates({{ date_fanciness }}, {{ js_date_format }});
        </script>
        <!-- end fancy dates -->
    {% endif %}
    {% block extra_js %}{% endblock %}
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
    {{ body_end }}
    {{ template_hooks['body_end']() }}
</body>
</html>
