{#  -*- coding: utf-8 -*- #}

{% macro html_footer() %}
    {% if content_footer %}
        <footer class="article__meta">
            <p>{{ content_footer }}</p>
            {{ template_hooks['page_footer']() }}
        </footer>
    {% endif %}
{% endmacro %}
