{#  -*- coding: utf-8 -*- #}
{% import 'math_helper.tmpl' as math with context %}
{% macro html_pager() %}
    {% if prevlink or nextlink %}
        <nav>
            <ul class="postindexpager pagination">
            {% if prevlink %}
            <li>
                <a class="hover:pagination__link" href="{{ prevlink }}" rel="prev">{{ messages("Newer posts") }}</a>
            </li>
            {% endif %}
            {% if nextlink %}
            <li>
                <a class="hover:pagination__link" href="{{ nextlink }}" rel="next">{{ messages("Older posts") }}</a>
            </li>
            {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endmacro %}

{#  This function is deprecated; use math_helper directly. #}
{% macro mathjax_script(posts) %}
    {{ math.math_scripts_ifposts(posts) }}
{% endmacro %}
