## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%inherit file="post.tmpl"/>

<%block name="content">
<section class="section">
  <div class="container">
    <h2 class="subtitle is-6">${post.formatted_date(date_format)|h}</h2>
    <h1 class="title">${post.title()|h}</h1>
    <div class="content">
    ${post.text()}
    </div>
    </div>
</section>
    % if not post.meta('nocomments') and site_has_comments:
        <section class="section comments hidden-print">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        </section>
    % endif
    ${math.math_styles_ifpost(post)}
${comments.comment_link_script()}
</%block>
