## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
    %if content_footer:
    <footer id="site-footer">
        <div class="container">
            <p>${content_footer}</p>
            ${template_hooks['page_footer']()}
        </div>
    </footer>
    %endif
</%def>
