{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}
{% block extra_head %}
{{ helper.twitter_card_information(post) }}
{% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}"/>
{% endif %}
{% endblock %}
{% block content %}
    <article class="postbox">
    {{ helper.html_title() }}
    <hr>
    <small>
        {{ messages("Posted") }}: <time class="published" datetime="{{ post.date.isoformat() }}">{{ post.formatted_date(date_format) }}</time>
        {{ helper.html_translations(post) }}
        {{ helper.html_tags(post) }}
    </small>
    <hr>
    {{ post.text() }}
    {{ helper.html_pager(post) }}
    {% if not post.meta('nocomments') %}
        {{ comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path) }}
    {% endif %}
    {{ helper.mathjax_script(post) }}
    </article>
{% endblock %}

{% block sourcelink %}
{% if not post.meta('password') %}
    <li>
    <a href="{{ post.source_link() }}" id="sourcelink">{{ messages("Source") }}</a>
    </li>
{% endif %}
{% endblock %}
