## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">

### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body style="padding-top: 10px;">
<div class="container-fluid" id="container" style="margin: 0 auto;">
    <div class="row-fluid" id="titlerow">
    <div class="span12" id="titlecolumn">
    <!-- Banner-like substance -->
        <div class="titlebox" style="text-align: right;">
        <h1 id="blog-title" style="margin: 0; padding: 0;">
            <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
        </h1>
        <%block name="belowtitle">
        %if len(translations) > 1:
        <small>
            ${messages("Also available in:")}&nbsp;
            ${base.html_translations()}
        </small>
        %endif
        </%block>
        <hr>
        </div>
    <!-- End of banner-like substance !-->
    <div class="row-fluid" id="contentrow">
        <div class="span10" id="contentcolumn">
            <!--Body content-->
            <%block name="content"></%block>
            <!--End of body content-->
            <hr>
            <div class="footerbox">
                ${content_footer}
                ${template_hooks['page_footer']()}
            </div>
        </div>
        <div class="span2" id="sidebar">
            <!--Sidebar content-->
            <ul class="unstyled">
            <li>${license}</li>
            ${base.html_navigation_links()}
            <li>${search_form}</li>
            ${template_hooks['menu']()}
            ${template_hooks['menu_alt']()}
            </ul>
            <!--End of sidebar content-->
        </div>
    </div>
    </div>
    </div>
</div>
${base.late_load_js()}
    <script>jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <%block name="extra_js"></%block>
    % if annotations and post and not post.meta('noannotations'):
        ${notes.code()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.code()}
    % endif
${body_end}
${template_hooks['body_end']()}
</body>
</html>
