{#  -*- coding: utf-8 -*- #}
{% macro html_pager() %}
<div>
<ul class="pager">
  {% if prevlink %}
    <li class="previous">
        <a href="{{ prevlink }}">&larr; {{ messages("Newer posts") }}</a>
    </li>
  {% endif %}
  {% if nextlink %}
    <li class="next">
        <a href="{{ nextlink }}">{{ messages("Older posts") }} &rarr;</a>
    </li>
  {% endif %}
</ul>
</div>
{% endmacro %}

{% macro mathjax_script(posts) %}
    {% if posts|rejectattr("is_mathjax") %}
        <script src="/assets/js/mathjax.js" type="text/javascript"></script>
    {% endif %}
{% endmacro %}