## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if posts and (permalink == '/' or permalink == '/' + index_file):
        <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
    % endif
    ${math.math_styles_ifposts(posts)}
</%block>

<%block name="content">
<%block name="content_header"></%block>
% if 'main_index' in pagekind:
    ${front_index_header}
% endif
% if page_links:
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
% endif
<div class="postindex">
% for post in posts:


<article class="post post">
    <header class="post-header">
        <h2 class="post-title"><a href="${post.permalink()}">${post.title()|h}</a></h2>
    </header>
    %if index_teasers:
    <section class="post-excerpt">
    ${post.text(teaser_only=True)}
    %else:
    <section class="post-excerpt">
    ${post.text(teaser_only=False)}
    %endif
    </section>
    <footer class="post-meta">
            % if author_pages_generated:
                <a href="${_link('author', post.author())}">${post.author()|h}</a>
            % else:
                ${post.author()|h}
            % endif

        on
            % for tag in post.tags:
                <a href="link://tag/${tag}">#${tag}</a>,
            % endfor

        <time class="post-date" datetime="${post.formatted_date('webiso')}">
            ${post.formatted_date(date_format)|h}
        </time>
    </footer>
</article>
% endfor
</div>
${helper.html_pager()}
${comments.comment_link_script()}
${math.math_scripts_ifposts(posts)}
</%block>
