{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<!-- Menubar -->

<nav class="navbar {% if header_color %}navbar-{{ header_color }}{% endif %} header-panel shadow-z-3" role="navigation">
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3">
                {% if search_form %}
                    {{ search_form }}
                {% endif %}
            <h1 class="title-blog">
                <a  href="{{ abs_link(_link("root", None, lang)) }}">
                    {% if logo_url %}
                        <img src="{{ logo_url }}" alt="{{ blog_title }}" id="logo">
                    {% endif %}
                    {% if show_blog_title %}
                        <span id="blog-title">{{ blog_title }}</span>
                    {% endif %}
                    </a>
            </h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid main" id="content" role="main">
        <div class="row">
            <nav  class="col-xs-3 menu">
                <ul>
                    {{ base.html_navigation_links() }}
                    {{ template_hooks['menu']() }}
                </ul>

                <ul class="nav navbar-nav">
                    {% block belowtitle %}
                    {% if translations|length > 1 %}
                        <li>{{ base.html_translations() }}</li>
                    {% endif %}
                    {% endblock %}
                    {{ template_hooks['menu_alt']() }}
                </ul>
            </nav>

            {{ template_hooks['page_header']() }}
            <div class="posts-material col-xs-9">
                <div class="col-xs-12 col-md-11 content-material">
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <button class="btn btn-fab btn-raised btn-material-green btn-footer" data-toggle="modal" data-target="#footer-dialog">
            <i class="mdi-communication-message"></i>
        </button>
        <div id="footer-dialog" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% if biography %}
                <h4 class="modal-title">{{ blog_author }}</h4>
                <div>
                    {{ biography }}
                </div>
                <hr />
                {% else %}
                <h4 class="modal-title">{{ blog_title }} credits</h4>
                {% endif %}
              </div>
              <div class="modal-body">
                    {{ content_footer }}
                    {{ template_hooks['page_footer']() }}
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
        <div class="source-button">
            {% if show_sourcelink %}
                {% block sourcelink %}{% endblock %}
            {% endif %}
        </div>
        {% if social_links %}
        <div class="kc_fab_wrapper"></div>
        {% endif %}
</div>

{{ base.late_load_js() }}
    <script>$('a.image-reference:not(.islink) img:not(.islink)').parent().colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    </script>
    <!-- end fancy dates -->
    {% block extra_js %}{% endblock %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.code() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.code() }}
    {% endif %}
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
