/* BLOG.TXT TWO-COLUMN (RIGHT) LAYOUT */
div#container{float:left;margin:0 0 0 -20em;width:100%;}
div#content{margin:0 0 0 20em;}
div#footer{clear:both;width:100%;}
div#header{margin:0 0 0 -0.9em;padding:0.2em 0 0;}
div#header div#blog-description,div#header div.archive-description{margin:0.2em 0 0 0.9em;}
div#header h1#blog-title{padding:0 0 0 0.2em;}
div#primary{margin-top:1em;padding-top:1em;}
div#secondary{clear:right;}
div#wrapper{margin:5em 0 0 7em;}
div.hfeed{margin:0 3em 0 0;}
div.sidebar{border-left:0.1em solid #ccd0d6;overflow:hidden;padding-left:2.4em;width:17.5em;}