% if use_bundles:
  <link rel="stylesheet" href="/assets/css/bundle.css"/>
% else:
  <link rel="stylesheet" href="/assets/css/fluidbox.min.css"/>
  <link rel="stylesheet" href="/assets/css/highlight/default.css"/>
  <link rel="stylesheet" href="/assets/css/font-awesome.css"/>
  <link rel="stylesheet" href="/assets/css/pure.css"/>
  <link rel="stylesheet" href="/assets/css/grids-responsive.css"/>
  <link rel="stylesheet" href="/assets/css/side-menu.css"/>
  <link rel="stylesheet" href="/assets/css/site.css"/>
% endif