<%doc>
  Template used by the post_list reStructuredText directive.
</%doc>

<%inherit file="/_base.tmpl"/>

<%block name="page_title">post_list_directive</%block>

This template has not yet been implemented in this theme.