<%doc>
  Used to show the contents of a single tag or category if TAG_PAGES_ARE_INDEXES is True.
</%doc>

<%inherit file="/index.tmpl"/>

<%block name="page_title">${title}</%block>

## Note that sub-categories are not supported.