## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="bootstrap" file="base_helper.tmpl" import="*" />
${set_locale(lang)}

${base.html_headstart()}
  <link href="/assets/css/ipython.min.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/nikola_ipython.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="assets/css/typeplate.css" />
  <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/railway-sans" rel="stylesheet" type="text/css"/>
  <%block name="extra_head">
  ### Leave this block alone.
  </%block>
  ${template_hooks['extra_head']()}
</head>

<body>
<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="${abs_link('/')}">${blog_title}</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            ${bootstrap.html_navigation_links()}
        </ul>
        %if search_form:
            ${search_form}
        %endif

        <ul class="nav navbar-nav navbar-right">
            <!--Add Links to social media sites -->
            % try:
                ${cadair_social_links}
            % except:
                <!-- pass -->
            % endtry

            <%block name="belowtitle">
            %if len(translations) > 1:
                <li>${bootstrap.html_translations()}</li>
            %endif
            </%block>
            % if not hide_sourcelink:
                <%block name="sourcelink"></%block>
            %endif
        </ul>
    </div><!-- /.navbar-collapse -->
    </div>
</nav>

<!-- End of Menubar -->

<%block name="jumbo"></%block>

<div class="container">
  <!--Body content-->
  <div class="row">
      ${template_hooks['page_header']()}
      <%block name="content"></%block>
  </div>

  <div class="footerbox">
    ${content_footer}
    ${template_hooks['page_footer']()}
  </div>
<!--End of body content-->
</div>
${bootstrap.late_load_js()}
<!-- Add Jumbotron scroll js -->
<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
  $(window).scroll(function() {
    var scrolledY = $(window).scrollTop();
    $('.jumbotron').css('background-position', 'left ' + ((scrolledY)) + 'px');
  });
});//]]>
</script>
<!-- fancy dates -->
<script>
moment.locale("${momentjs_locales[lang]}");
fancydates(${date_fanciness}, ${js_date_format});
</script>
<!-- end fancy dates -->
<script>
baguetteBox.run('div#content', {
    ignoreClass: 'islink',
    captions: function(element) {
        return element.getElementsByTagName('img')[0].alt;
}});
</script>
<!-- Abstract hide/show
<script src"/assets/js/div_toggle.js"></script>
-->
<script type='text/javascript'>
function toggle(showHideDiv, switchTextDiv) {
    var ele = document.getElementById(showHideDiv);
    var text = document.getElementById(switchTextDiv);
    if(ele.style.display == "none") {
        ele.style.display = "block";
        text.innerHTML = "[hide abstract]";
    }
    else {
            ele.style.display = "none";
            text.innerHTML = "[show abstract]";
    }
}
</script>
<%block name="extra_js"></%block>
${body_end}
${template_hooks['body_end']()}
</body>
</html>
