## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
    %if content_footer:
    <footer class="site-footer clearfix">
        <section class="poweredby">${content_footer}</section>
        ${template_hooks['page_footer']()}
    </footer>
    %endif
</%def>
