## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
    %if content_footer:
    <div class="footer-wrapper">
        <footer role="contentinfo">
            <p>${content_footer}</p>
            ${template_hooks['page_footer']()}
        </footer>
    </div>
    %endif
</%def>
