.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img,
svg {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  svg,
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  background: url('../images/cream-dust.png') #fff;
}
section {
  margin: 0;
  padding: 0;
}
.social {
  float: left;
  min-height: 100%;
  background: url('../images/blue-mocha-grunge.jpg') #192029;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 180px;
}
@media (max-width: 773px) {
  .social {
    position: relative;
  }
}
@media (min-width: 774px) and (max-width: 1047px) {
  .social {
    width: 210px;
  }
}
@media (max-width: 773px) {
  .social {
    width: 100%;
  }
}
.social ul {
  position: fixed;
  margin: 0;
  top: 50px;
  display: table;
  width: 180px;
}
@media (max-width: 773px) {
  .social ul {
    position: relative;
  }
}
@media (max-width: 773px) {
  .social ul {
    display: block;
    top: 0px;
  }
}
@media (min-width: 774px) and (max-width: 1047px) {
  .social ul {
    width: 210px;
  }
}
.social ul li {
  display: block;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 773px) {
  .social ul li {
    padding-top: 5%;
    padding-left: 1em;
    text-align: left;
    display: table-cell;
  }
}
.social ul li a {
  display: block;
}
.social ul li a .label {
  display: none;
}
@media (max-width: 773px) {
  .social ul li a .label {
    display: inline;
    padding-left: 0.5em;
  }
}
.page-content {
  min-height: 100%;
  padding: 48px 0 60px 42px;
  margin-left: 180px;
}
@media (min-width: 774px) and (max-width: 1047px) {
  .page-content {
    padding-left: 24px;
    margin-left: 214px;
  }
}
@media (max-width: 773px) {
  .page-content {
    margin-left: 0;
    width: 100%;
    padding: 36px 0;
  }
}
.page-content > .content {
  max-width: 890px;
}
@media (min-width: 774px) and (max-width: 1047px) {
  .page-content > .content {
    min-width: 525px;
  }
}
@media (max-width: 773px) {
  .page-content > .content {
    min-width: auto;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: auto;
    margin-left: auto;
  }
}
ul,
ol {
  padding: 0;
  margin: 0 0 12px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 24px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 24px;
}
dt,
dd {
  line-height: 24px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 12px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
.pagination {
  margin: 24px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 24px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 18.75px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 12.75px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 11.25px;
}
.pager {
  margin: 24px 0;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
  line-height: 0;
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999;
  background-color: #fff;
  cursor: default;
}
body {
  font-size: 16px;
  font-size: 15px;
  line-height: 24px;
  color: #333;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.social a {
  color: #fff;
  line-height: 44.4px;
  -webkit-transition: text-shadow 0.5s;
  -moz-transition: text-shadow 0.5s;
  -o-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
@media (max-width: 773px) {
  .social a {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
}
.social a:hover,
.social a:focus {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
@media (max-width: 773px) {
  .social a:hover,
  .social a:focus {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.social a i {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: 3em;
}
@media (max-width: 773px) {
  .social a i {
    font-size: 2em;
  }
}
.social a .label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 26.25px;
}
.page-content {
  font-family: "Bitter", "Georgia", "Times New Roman", serif;
}
.page-content > .content {
  text-rendering: optimizeLegibility;
}
.page-content > .content h1,
.page-content > .content h2,
.page-content > .content h3,
.page-content > .content h4,
.page-content > .content h5,
.page-content > .content h6,
.page-content > .content .h1,
.page-content > .content .h2,
.page-content > .content .h3,
.page-content > .content .h4,
.page-content > .content .h5,
.page-content > .content .h6 {
  margin: 12px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 24px;
  color: #2e2e2e;
  text-rendering: optimizelegibility;
}
.page-content > .content h1 small,
.page-content > .content h2 small,
.page-content > .content h3 small,
.page-content > .content h4 small,
.page-content > .content h5 small,
.page-content > .content h6 small,
.page-content > .content .h1 small,
.page-content > .content .h2 small,
.page-content > .content .h3 small,
.page-content > .content .h4 small,
.page-content > .content .h5 small,
.page-content > .content .h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999;
}
.page-content > .content h1,
.page-content > .content .h1,
.page-content > .content h2,
.page-content > .content .h2 {
  line-height: 48px;
}
.page-content > .content h3,
.page-content > .content .h3 {
  line-height: 36px;
}
.page-content > .content h1,
.page-content > .content .h1 {
  font-size: 41.25px;
}
.page-content > .content h2,
.page-content > .content .h2 {
  font-size: 33.75px;
}
.page-content > .content h3,
.page-content > .content .h3 {
  font-size: 26.25px;
}
.page-content > .content h4 {
  font-size: 18.75px;
}
.page-content > .content h5 {
  font-size: 15px;
}
.page-content > .content h6 {
  font-size: 12.75px;
}
.page-content > .content h1 small {
  font-size: 26.25px;
}
.page-content > .content h2 small {
  font-size: 18.75px;
}
.page-content > .content .h3 small,
.page-content > .content h3 small {
  font-size: 15px;
}
.page-content > .content h4 small {
  font-size: 15px;
}
.page-content > .content p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  margin: 0 0 12px;
}
.page-content > .content em {
  font-style: italic;
}
.page-content > .content b,
.page-content > .content strong {
  font-weight: bold;
}
.page-content > .content cite {
  font-style: normal;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 24px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 24px;
  color: #999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 24px;
  font-style: normal;
  line-height: 24px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}
.thumbnails {
  margin-left: 0;
  list-style: none;
  *zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
  display: table;
  content: "";
  line-height: 0;
}
.thumbnails:after {
  clear: both;
}
.row-fluid .thumbnails {
  margin-left: 0;
}
.thumbnails > li {
  float: left;
  margin-bottom: 24px;
  margin-left: 0;
}
.thumbnail {
  display: block;
  padding: 4px;
  line-height: 24px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #08c;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #555;
}
code,
tt,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code,
tt {
  padding: 2px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 24px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
pre.code {
  white-space: pre;
  word-break: keep-all;
  word-wrap: normal;
  overflow: auto;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.backlink {
  margin-top: 6px;
}
.backlink a:after {
  content: ' /';
}
.backlink + .postbox > h1.title,
.backlink + .post > h1.title,
.backlink + h1.title {
  margin-top: 0;
}
article.post-text h1.entry-title {
  text-align: center;
  margin: 6px 0;
}
article.post-text h1.entry-title a {
  color: inherit;
}
article.post-text h1.entry-title a:hover,
article.post-text h1.entry-title a:focus {
  color: inherit;
}
article.post-text .backlink {
  margin-top: 6px;
}
article.post-text .backlink a:after {
  content: ' /';
}
article.post-text .backlink + .postbox > h1.title,
article.post-text .backlink + .post > h1.title,
article.post-text .backlink + h1.title {
  margin-top: 0;
}
article.post-text .metadata {
  *zoom: 1;
  color: #999;
  margin-bottom: 12px;
  margin-top: -6px;
}
article.post-text .metadata:before,
article.post-text .metadata:after {
  display: table;
  content: "";
  line-height: 0;
}
article.post-text .metadata:after {
  clear: both;
}
article.post-text .metadata .commentline {
  float: right !important;
}
article.post-text .metadata p {
  margin: 0;
  display: inline-block;
  color: #999;
}
article.post-text .metadata p a {
  color: #999;
}
article.post-text .metadata p a:hover,
article.post-text .metadata p:hover {
  color: #333;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -o-transition: color 1s linear;
  transition: color 1s linear;
}
article.post-text .metadata h3 {
  font-size: initial !important;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: initial;
}
article.post-text .metadata .tags {
  clear: both;
  display: block;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
article.post-text .metadata .tags:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
article.post-text .metadata .tags ul {
  margin: 0;
  list-style: none;
  display: inline-block;
}
article.post-text .metadata .tags ul > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-right: 10px;
}
article.post-text .entry-content {
  margin-bottom: 36px;
}
article.post-text .entry-content .figure {
  display: block;
  padding: 4px;
  line-height: 24px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: table;
  margin: 0 auto 24px;
}
@media (max-width: 773px) {
  article.post-text .entry-content .figure {
    display: block;
    width: 97%;
  }
}
article.post-text .entry-content .figure > a,
article.post-text .entry-content .figure > a > img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
article.post-text .entry-content .figure .caption {
  padding: 9px;
  color: #555;
  font-style: italic;
  padding-bottom: 0;
}
article.post-text + article.post-text {
  margin-top: 48px;
}
a.listtitle {
  margin-left: 6px;
}
