THEME = 'canterville'
LOGO_URL = 'https://getnikola.com/assets/img/logo.svg'
GLOBAL_CONTEXT = {
        'TWITTER_URL': 'https://twitter.com/getnikola',
        'GITHUB_URL': 'https://github.com/getnikola',
        'LINKEDIN_URL': None,
        'BANNER_URL': '/assets/img/silk-road.jpg'
}
