## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="page_header">
<h1>${blog_title|h}</h1>
<h2>${title|h}</h2>
</%block>

<%block name="content">
<article class="listpage">
    %if items:

    <ul class="menu vertical">
    % for text, link, count in items:
        <li><a href="${link}">${text|h}</a>
        % if count:
            &nbsp;<small>(${count})</small>
        % endif
    % endfor
    </ul>
    %else:
    <p>${messages("Nothing found.")}</p>
    %endif
</article>
</%block>
