## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>

<%def name="html_title()">
%if title and not post.meta('hidetitle'):
    <h1 class="p-name entry-title" itemprop="headline name"><a href="${post.permalink()}" class="u-url">${post.title()|h}</a></h1>
%endif
</%def>

<%def name="html_translations(post)">
    % if len(post.translated_to) > 1:
        <div class="metadata posttranslations translations">
            <h3 class="posttranslations-intro">${messages("Also available in:")}</h3>
            % for langname in sorted(translations):
                % if langname != lang and post.is_translation_available(langname):
                <p><a href="${post.permalink(langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></p>
                % endif
            % endfor
        </div>
    % endif
</%def>

<%def name="html_sourcelink()">
    % if show_sourcelink:
        <p class="sourceline"><a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a></p>
    % endif
</%def>

<%def name="html_post_header()">
        %if post.description():
            <div class="metadata">
                <meta name="description" itemprop="description" content="${post.description()|h}">
            </div>
        %endif
    ${html_translations(post)}
</%def>