## -*- coding: utf-8 -*-
<%namespace name="zzz" file="zzz_helper.tmpl" import="*" />
<%namespace name="header" file="zzz_header.tmpl" import="*" />
<%namespace name="footer" file="zzz_footer.tmpl" import="*" />
<%namespace name="annotations" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${zzz.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
    ${header.html_header()}
    <%block name="content"></%block>
    ${footer.html_footer()}
    ${body_end}
    ${template_hooks['body_end']()}
    ${zzz.late_load_js()}
</body>
</html>
