## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="header" file="zzz_header.tmpl" import="*" />
<%inherit file="base.tmpl"/>

<%block name="content">
    ${html_site_tagline()}
    <div id="index-main" class="main">
        <div class="container">
        % for post in posts:
        <div class="post-entry">
            <time class="post-time" datetime="${post.date.isoformat()}">${post.formatted_date('%Y-%m-%d')}</time>
            <div class="post-desc">
                <div class="post-title">
                    <a href="${post.permalink()}">${post.title()}</a>
                </div>
                <div class="post-tags">
                %for tag in post.tags:
                    <div class="tag">
                        <a href="${_link('tag', tag)}" rel="tag">${tag}</a>
                    </div>
                %endfor
                </div>
                <div class="num-of-comments">
                % if not post.meta('nocomments'):
                    ${comments.comment_link(post.permalink(), post.base_path)}
                % endif
                </div>
                <div class="post-description"> 
                    ${post.description()}
                </div>
            </div>
        </div>
        %endfor
        </div>
    </div>

    ${helper.html_pager()}
    ${comments.comment_link_script()}
    ${helper.mathjax_script(posts)}
</%block>
