
## -*- coding: utf-8 -*-
<%namespace name="zzz" file="zzz_helper.tmpl" import="*" />
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if post.meta('keywords'):
        <meta name="keywords" content="${post.meta('keywords')|h}">
    % endif
    <meta name="author" content="${post.author()}">
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
</%block>

<%block name="content">
    %if title and not post.meta('hidetitle'):
    <div class="post-header">
        <div class="container">
            <div class="title">
                ${title|h}
            </div>
        </div>
    </div>
    %endif

    <div class="post-meta">
      <div class="container">
	<div class="meta clearfix">
	  <div class="authordate">
	    <time class="timeago" datetime="${post.date.isoformat()}">${post.formatted_date('%Y/%m/%d')}</time>
	    ${zzz.html_translations(post)}
	    ${zzz.html_sourcelink()}
	  </div>
	  <div class="post-tags">
	    %for tag in post.tags:
	    <div class="tag">
	      <a href="${_link('tag', tag)}" rel="tag">${tag}</a>
	    </div>
	    %endfor
	  </div>
	</div>
      </div>
    </div>
    
    
    <div id="post-main" class="main">
        <div class="container">
        ${post.text()}
        % if not post.meta('nocomments') and site_has_comments:
            ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
        % endif
        ${helper.mathjax_script(post)}
        </div>
    </div>
</%block>
