## -*- coding: utf-8 -*-
<%inherit file="list_post.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>
<%block name="extra_head">
${feeds_translations.head(tag, kind, rss_override=False)}
</%block>
<%block name="content">
<article class="tagpage col-md-10 mx-auto p-3">
<header>
<h1>${title|h}</h1>
%if description:
<p>${description}</p>
%endif
%if subcategories:
${messages('Subcategories:')}
<ul class="row">
%for name, link in subcategories:
<li class="col-6 p-3"><a href="${link}">${name|h}</a></li>
%endfor
</ul>
%endif
<div class="metadata">
${feeds_translations.feed_link(tag, kind=kind)}
</div>
${feeds_translations.translation_link(kind)}
</header>
%if posts:
<ul class="postlist mt-3 row">
% for post in posts:
<li class="p-3 col-6 col-md-4">
<p><time class="listdate me-3" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time></p>
<h3><a href="${post.permalink()}" class="listtitle">${post.title()|h}<a></h3>
</li>
% endfor
</ul>
%endif
</article>
</%block>
