{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}

{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ smartjoin(', ', post.meta('keywords'))|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author()|e }}">
    {% if post.prev_post %}
        <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.next_post %}
        <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ helper.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}

{% endblock %}

{% block content %}
    {{ pheader.html_post_header() }}
    <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
    </div>

    <br>
    <hr>
    {{ helper.html_tags(post) }}
    <span class="social-share">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ abs_link(_link("root", None, lang)) }}{{ page_url }}" title="Share on Facebook" class="tag">
            <span class="term"><i class="fa fa-facebook-square"></i> Share</span>
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ abs_link(_link("root", None, lang)) }}{{ page_url }}" title="Share on Twitter" class="tag">
            <span class="term"><i class="fa fa-twitter-square"></i> Tweet</span>
        </a>
        <a href="https://plus.google.com/share?url={{ abs_link(_link("root", None, lang)) }}{{ page_url }}" title="Share on Google+" class="tag">
                <span class="term"><i class="fa fa-google-plus-square"></i> +1</span>
        </a>
    </span>

<div style="clear:both"></div>

{{ scripts.scripts() }}

{% if mathjax == true %}
<!-- MathJax -->
<script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

{% endblock %}
