{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'reveal_helper.tmpl' as reveal with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{{ reveal.html_reveal_head() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>

<!-- Menubar -->

<div class="navbar navbar-fixed-top" id="navbar" style="font-family: Open Sans;">
    <div class="navbar-inner">
        <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

            <a class="brand" href="{{ abs_link('/') }}">
            {% if logo_url %}
                <img src="{{ logo_url }}" alt="{{ blog_title }}" id="logo">
            {% endif %}

            {% if show_blog_title %}
                <span id="blog-title">{{ blog_title }}</span>
            {% endif %}
            </a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{ base.html_navigation_links() }}
                    {{ template_hooks['menu']() }}
                </ul>
                {% if search_form %}
                    {{ search_form }}
                {% endif %}
                <ul class="nav pull-right">
                {% block belowtitle %}
                {% if translations|length > 1 %}
                    <li>{{ base.html_translations() }}</li>
                {% endif %}
                {% endblock %}
                {% if show_sourcelink %}
                    <li>{% block sourcelink %}{% endblock %}</li>
                {% endif %}
                {{ template_hooks['menu_alt']() }}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Menubar -->

<div class="reveal"><div class="slides">
    <section>
        {% block content %}{% endblock %}
    </section>
</div></div>

{{ reveal.html_reveal_body() }}

{% block custom_reveal %}{% endblock %}

<div class="navbar navbar-fixed-bottom" style="font-family: Open Sans;">
    <div class="navbar-inner">
        <div class="footerbox">
            {{ content_footer }}
        </div>
    </div>
</div>

{{ base.late_load_js() }}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});
    $(window).on('hashchange', function(){
        if (location.hash && $(location.hash)[0]) {
            $('body').animate({scrollTop: $(location.hash).offset().top - $('#navbar').outerHeight(true)*1.2 }, 1);
        }
    });
    $(document).ready(function(){$(window).trigger('hashchange')});
    </script>
   {% block extra_js %}{% endblock %}
   {{ body_end }}
</body>
