import time

BLOG_AUTHOR = "your web blog author here.."  # (translatable)
BLOG_TITLE = "Your title website goes here...."  # (translatable)
SITE_URL = "https://www.hockeycomputindo.com/"
BLOG_EMAIL = "hockeycorpmarketing@gmail.com"
BLOG_DESCRIPTION = "Your description website goes here....."  # (translatable)
LOGO_URL = "/images/nik.png"
FAVICON = "/images/nik.png"
DEFAULT_LANG = "id"
FAVICONS = (
     ("icon", "/favicon.ico", "16x16"),
     ("icon", "/images/nik.png", "128x128"),
)
TWITTER_CARD = {
    'use_twitter_cards': True,
    'card': 'summary',
    'site': '@website',
    'creator': '@yourtwitterusername', # insert your twitter url here
}
TRANSLATIONS = {
    DEFAULT_LANG: "",
    # Example for another language:
    # "es": "./es",
}
TRANSLATIONS_PATTERN = '{path}.{lang}.{ext}'

# Setup Your Navigation Link
NAVIGATION_LINKS = {
    DEFAULT_LANG: (
        ("/", "Home"),
        ("/pages/dokumentasi/", "Dok"),
        ("/pages/beliprogramrestoran/", "Order"),
        ("/pages/kontak/", "Kontak"),
    ),
}
NAVIGATION_ALT_LINKS = {
    DEFAULT_LANG: ()
} 

# Install the Minimals Themes on your Nikola Project
THEME = "minimals"
THEME_COLOR = '#5670d4'
THEME_CONFIG = {
    DEFAULT_LANG: {
        # Show the latest featured post in a large box, with the previewimage as its background.
        'featured_large': False,
        # Show the first (remaining) two featured posts in small boxes.
        'featured_small': False,
        # Show featured posts on mobile.
        'featured_on_mobile': True,
        # Show image in `featured_large` on mobile.
        # `featured_small` displays them only on desktop.
        'featured_large_image_on_mobile': True,
        # Strip HTML from featured post text.
        'featured_strip_html': False,
        # Contents of the sidebar, If empty, the sidebar is not displayed.
        'sidebar': ''
    }
}
POSTS = (
    ("posts/*.rst", "posts", "post.tmpl"),
    ("posts/*.md", "posts", "post.tmpl"),
    ("posts/*.txt", "posts", "post.tmpl"),
    ("posts/*.html", "posts", "post.tmpl"),
)
PAGES = (
    ("pages/*.rst", "pages", "page.tmpl"),
    ("pages/*.md", "pages", "page.tmpl"),
    ("pages/*.txt", "pages", "page.tmpl"),
    ("pages/*.html", "pages", "page.tmpl"),
)
TIMEZONE = "Asia/Bangkok" # Change with your time UTC
COMPILERS = {
    "rest": ['.rst', '.txt'],
    "markdown": ['.md', '.mdown', '.markdown'],
    "textile": ['.textile'],
    "txt2tags": ['.t2t'],
    "bbcode": ['.bb'],
    "wiki": ['.wiki'],
    "ipynb": ['.ipynb'],
    "html": ['.html', '.htm'],
    "php": ['.php'],
}
HIDDEN_TAGS = ['mathjax']
CATEGORY_ALLOW_HIERARCHIES = False
CATEGORY_OUTPUT_FLAT_HIERARCHY = False
HIDDEN_CATEGORIES = []
HIDDEN_AUTHORS = ['Guest']
FRONT_INDEX_HEADER = {
    DEFAULT_LANG: ''
}
ATOM_FILENAME_BASE = "feed"
REDIRECTIONS = []
GITHUB_SOURCE_BRANCH = 'src'
GITHUB_DEPLOY_BRANCH = 'master'
GITHUB_REMOTE_NAME = 'origin'
GITHUB_COMMIT_SOURCE = True
GALLERIES_USE_THUMBNAIL = False
GALLERIES_DEFAULT_THUMBNAIL = None
IMAGE_FOLDERS = {'images': 'images'}
INDEX_READ_MORE_LINK = '<p class="more"><a href="{link}">{read_more}…</a></p>'
FEED_READ_MORE_LINK = '<p><a href="{link}">{read_more}…</a> ({min_remaining_read})</p>'
FEED_LINKS_APPEND_QUERY = False
LICENSE = ""

# For change your footer copyrights
CONTENT_FOOTER = 'Contents &copy; {date} <a href="mailto:{email}">{author}</a> - Powered by <a href="https://getnikola.com" rel="nofollow">Nikola</a>{license}'
CONTENT_FOOTER_FORMATS = {
    DEFAULT_LANG: (
        (),
        {
            "email": BLOG_EMAIL,
            "author": BLOG_AUTHOR,
            "date": time.gmtime().tm_year,
            "license": LICENSE
        }
    )
}
RSS_COPYRIGHT = 'Contents © {date} <a href="mailto:{email}">{author}</a> {license}'
RSS_COPYRIGHT_PLAIN = 'Contents © {date} {author} {license}'
RSS_COPYRIGHT_FORMATS = CONTENT_FOOTER_FORMATS
COMMENT_SYSTEM = ""
COMMENT_SYSTEM_ID = ""
STRIP_INDEXES = True
PRETTY_URLS = True
MARKDOWN_EXTENSIONS = ['markdown.extensions.fenced_code', 'markdown.extensions.codehilite', 'markdown.extensions.extra']
USE_TAG_METADATA = False
WARN_ABOUT_TAG_METADATA = False
GLOBAL_CONTEXT = {}
GLOBAL_CONTEXT_FILLER = []